.card-about {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  height: auto;
  border-radius: 10px;
  transition: background-color 6s ease;
  margin: 0rem 10rem;
  padding: 20px;
  background-color:#ebf1f615;
  border: solid 0.01px rgb(61, 58, 96);
}

.card-about:hover {
  background-color: rgba(0, 123, 255, 0.2);
 
}
