.card-about {
  display: flex;
  flex-direction: row;
  width: 1fr;
  height: auto;
  border-radius: 10px;
  transition: background-color 3s ease;
  padding: 20px;
}

.card-about:hover {
  background-color: rgba(0, 123, 255, 0.2);
  border: solid 0.01px rgb(61, 58, 96);
}
