.proyectos-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 10px;
  transition: background-color 2s ease;
}

.proyectos-container:hover {
  background-color:#ebf1f615;
  border: solid 0.01px rgb(61, 58, 96);
}

.proyecto-card{
  background-color: transparent;
  padding: 1rem;
  border-radius: 2px;
  transition: background-color 2s ease;
}


.proyecto-card:hover {
  background-color:#ebf1f615;
  border: solid 0.01px rgb(61, 58, 96);
}



.proyecto-card img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 2px;
}

.proyecto-card h3 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.proyecto-card p {
  color: #555;
}
